<!--This is the view that displays the article title and text-->
<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @article.text %>
</p>

<!--will add each of the comments (all of the comments associated with the article) below the article-->
<h2>Comments</h2>
<% @article.comments.each do |comment| %>
  <p>
    <strong>Commenter:</strong>
    <%= comment.commenter %>
  </p>
 
  <p>
    <strong>Comment:</strong>
    <%= comment.body %>
  </p>
<% end %>

<h2>Add a comment:</h2>
<!--form_for will create nested routes for the @article class-->
<%= form_for([@article, @article.comments.build]) do |f| %>
<p>
	<%= f.label :commenter %><br />
	<%= f.text_field :commenter %>
</p>
<p>
	<%= f.label :body %>
	<%= f.text_area :body %>
</p>
<p>
	<%= f.submit %>
</p>
<% end %>
<%= link_to 'Edit', edit_article_path(@article) %>
	|
<%= link_to 'View All Articles', articles_path %>