<!--This is the view that displays the article title and text-->
<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @article.text %>
</p>

<!--will add each of the comments (all of the comments associated with the article) below the article-->
<h2>Comments</h2>
<!--will render the partial file comments, it will iterate over each each of the comments-->
<%= render @article.comments %>

<h2>Add a comment:</h2>
<!--This render just places the file into this file apposed to itterating each comment for each article object-->
<%= render 'comments/form' %>

<%= link_to 'Edit', edit_article_path(@article) %>
	|
<%= link_to 'View All Articles', articles_path %>